export(bye)
export(info)
export(nxt)
export(play)
export(skip)
export(swirl)
importFrom(plotrix,draw.circle)
importFrom(pwr,pwr.norm.test)
importFrom(pwr,pwr.t.test)
importFrom(stringr,fixed)
importFrom(stringr,str_c)
importFrom(stringr,str_detect)
importFrom(stringr,str_length)
importFrom(stringr,str_locate)
importFrom(stringr,str_split)
importFrom(stringr,str_split_fixed)
importFrom(stringr,str_trim)
importFrom(testthat,equals)
importFrom(testthat,expectation)
importFrom(testthat,is_a)
importFrom(testthat,is_equivalent_to)
importFrom(testthat,is_identical_to)
importFrom(testthat,matches)
